In [7]:
u"sample unicode string"

'sample unicode string'

In [8]:
print('hi what\'s your name')

hi what's your name

In [10]:
print("\a")



In [22]:
s1="hello"
s2 = "hello"
s1<s2

False

In [23]:
a = 0  and 50

In [24]:
a

0

In [25]:
a=0 or 40

In [26]:
a

40

s1 = "hello"
s2 = 'hello'

In [27]:
id(s1)

2128141035760

In [28]:
id(s2)

2128141035760

In [29]:
n=int(input("enter a number"))

enter a number5

In [30]:
if n%2==0:
    print ("even number")
else:
    print("odd number")

odd number

In [31]:
if n in [1,3,5,7,8,10,12]:
    print("31 Days")
elif n in [4,6,9,11]:
    print("30 days")
elif n==2:
    print("28 days")
else:
    print("invalid Month number")

31 Days

In [32]:
n=int(input("Enter a year"))

Enter a year1900

In [33]:
if n%100 == 0:
    if n%400  ==0:
        print("leap year")
    else:
        print("Not a leap year")
else:
    if n%4 ==0:
        print("Leap year")
    else:
        print("Not a leap year")

Not a leap year

In [34]:
n=int(input("enter a number"))

enter a number53

In [44]:
for i in range(1 , 11):
    for j in range(1,11):
        print(j ,  end='  ')
    print()

1  2  3  4  5  6  7  8  9  10
1  2  3  4  5  6  7  8  9  10
1  2  3  4  5  6  7  8  9  10
1  2  3  4  5  6  7  8  9  10
1  2  3  4  5  6  7  8  9  10
1  2  3  4  5  6  7  8  9  10
1  2  3  4  5  6  7  8  9  10
1  2  3  4  5  6  7  8  9  10
1  2  3  4  5  6  7  8  9  10
1  2  3  4  5  6  7  8  9  10

In [46]:
n= int(input("enter no. of rows"))

enter no. of rows5

In [48]:
for i in range(1 , n+1):
    for j in range(1 , i+1):
        print(j , end ='')
    print()

1
12
123
1234
12345

In [49]:
for i in range(1 , n+1):
    for j in range(n , i-1,-1):
        print(j , end ='')
    print()

54321
5432
543
54
5

In [51]:
for i in range(n,0,-1):
    for j in range(1,i+1):
        print(j,end ='')
    print()

12345
1234
123
12
1

In [54]:
for i in range(1,n+1):
    for j in range(1,n-i+1):
        print(end =' ')
    for k in range(1,i+1):
        print(k , end="")
    print()

    1
   12
  123
 1234
12345

In [80]:
for i in range(1,n+1):
    for j in range(1,n-i+1):
        print(end =' ')
    for k in range(1,i+1):
        print(k , end="")
    for l in range(i-1 , 0 , -1):
        print(l , end ='')
    print()

    1
   121
  12321
 1234321
123454321

In [102]:
for i in range(n,0,-1):
    for j in range(1,n-i+1):
        print(end=' ')
    for j in range(1,2*i):
        print('*',end ='')
    print()

*********
 *******
  *****
   ***
    *