# list , list method & list comphresions

In [1]:
"""list is a data structure .It can be  used to store multiple data at once . the list will be ordered and the element are indexed
 according to sequence and the indexing is done with zero(0) as first index. Each element will have a distinct place in the sequence ."""

'list is a data structure .It can be  used to store multiple data at once . the list will be ordered and the element are indexed\n according to sequence and the indexing is done with zero(0) as first index. Each element will have a distinct place in the sequence .'

In [2]:
l=[10 , "hello",10+20j  , 45.78,  [67  , 89]]

In [3]:
l[1]

'hello'

In [4]:
l[2]

(10+20j)

In [5]:
l[4]

[67, 89]

In [6]:
l[4][0]

67

In [7]:
l1=[1,2,3,4,5]

In [8]:
id(l1)

2016251732424

In [9]:
l2=[1,2,3,4,5]

In [10]:
id(l2)

2016251733320

In [11]:
# By the above two statements we come to know that the id of list that is containing the same data is different
#but in case of string we see there that the id of two different string  that contain the same element is same id

In [12]:
l1=l2

In [13]:
id(l1)

2016251733320

In [14]:
id(l2)

2016251733320

In [15]:
# now we made a deep copy and now we can see that the id of both is same .

In [16]:
#list manipluations

In [17]:
l[:]

[10, 'hello', (10+20j), 45.78, [67, 89]]

In [18]:
l[2:4]

[(10+20j), 45.78]

In [19]:
l[2:4:3]

[(10+20j)]

# List method

In [20]:
l.append("DJ")

In [21]:
l

[10, 'hello', (10+20j), 45.78, [67, 89], 'DJ']

# Code for runtime array using the list

In [68]:

m=[]
for i in range(3):
    l=[]
    for j in range(4):
        l.append(int(input()))
    m.append(l)
    for k in m:
        print(k)

5
6
5
4
[5, 6, 5, 4]
5
4
2
4
[5, 6, 5, 4]
[5, 4, 2, 4]
2
1
3
2
[5, 6, 5, 4]
[5, 4, 2, 4]
[2, 1, 3, 2]

In [30]:
l=["hello"]

In [31]:
l.clear()

In [32]:
l

[]

In [33]:
l=[1,2,3,4,5]

In [34]:
l1=l

In [35]:
l1=l.copy()

In [36]:
l1

[1, 2, 3, 4, 5]

In [37]:
id(l1)

2016252636040

In [38]:
id(l)

2016252520392

In [39]:
# the id of both l1 and l is different

In [40]:
l.count(4)

1

In [41]:
l.extend(101)

TypeError: 'int' object is not iterable

In [42]:
l.extend("101")

In [43]:
l

[1, 2, 3, 4, 5, '1', '0', '1']

In [46]:
l.index(2) # give the postion of the no.

1

In [47]:
l.index(3)

2

In [48]:
l.insert(3 , "Hello")

In [49]:
l

[1, 2, 3, 'Hello', 4, 5, '1', '0', '1']

In [50]:
l.pop()

'1'

In [51]:
l

[1, 2, 3, 'Hello', 4, 5, '1', '0']

In [52]:
l.remove(5)

In [53]:
l

[1, 2, 3, 'Hello', 4, '1', '0']

In [54]:
l.reverse()

In [55]:
l

['0', '1', 4, 'Hello', 3, 2, 1]

In [58]:
l=[1,23,4,5,6,7]

In [59]:
l.sort(reverse=True)

In [60]:
l

[23, 7, 6, 5, 4, 1]

# Transpose of a Matrix using list

In [61]:
n=int(input ("Enter the no. of row"))
m=int(input("Enter the no. of columns"))

Enter the no. of row5
Enter the no. of columns4

In [66]:
l=[]
for i in range(n):
    k=[]
    for j in range(m):
        k.append(int(input()))
    l.append(k)
for j in l:
    print(j)

5
6
5
6
5
5
6
5
6
5
6
5
5
6
5
6
5
6
5
6
[5, 6, 5, 6]
[5, 5, 6, 5]
[6, 5, 6, 5]
[5, 6, 5, 6]
[5, 6, 5, 6]

# List comprehensions

In [69]:
'''List comprehensions are a way tto build a new list bby applying an expressions to each item in a sequenc  and are close relative to for loop'''

'List comprehensions are a way tto build a new list bby applying an expressions to each item in a sequenc  and are close relative to for loop'

In [70]:
l=[c*4 for c in "Hello"]

In [71]:
l

['HHHH', 'eeee', 'llll', 'llll', 'oooo']

In [72]:
l=[i for i in range(10) if i%2==0]

In [73]:
l

[0, 2, 4, 6, 8]

In [75]:
l=[input() for i in range(4)]

5
5
6
6

In [76]:
l

['5', '5', '6', '6']

In [77]:
l=[int(input()) for i in range(4)]

10
20
3
0

In [78]:
l

[10, 20, 3, 0]

In [79]:
l=[i for i in "matrix"]

In [80]:
l

['m', 'a', 't', 'r', 'i', 'x']

In [87]:
l=[[i for i in range(4)]for j in range(3)]# simple matrix representations

In [88]:
l

[[0, 1, 2, 3], [0, 1, 2, 3], [0, 1, 2, 3]]

In [89]:
l=[[i for j in range(1,5)]for i in range(3)]# Transpose of the Matrix

In [90]:
l

[[0, 0, 0, 0], [1, 1, 1, 1], [2, 2, 2, 2]]

In [91]:
for i,j in zip([1,2,3,4,5],[6,7,8,9]):
    print(i,j)

1 6
2 7
3 8
4 9

In [92]:
import itertools

In [104]:
for i in itertools.chain([1,2,3,4,5],[1,2,3,45]):
    print(i) 
#Int type object is not iterables

1
2
3
4
5
1
2
3
45

In [105]:
# Remove duplicate lists

In [112]:
num=[[10,20],[40],[30,56,25],[10,20],[33],[10]]
print("Original listt",num)
num.sort()
num
new_num=list(num for num in itertools.groupby(num))
print("new List",new_num)

Original listt [[10, 20], [40], [30, 56, 25], [10, 20], [33], [10]]
new List [([10], <itertools._grouper object at 0x000001D572437550>), ([10, 20], <itertools._grouper object at 0x000001D572437588>), ([30, 56, 25], <itertools._grouper object at 0x000001D572437470>), ([33], <itertools._grouper object at 0x000001D572437438>), ([40], <itertools._grouper object at 0x000001D572437400>)]

# Itertools Module

In [113]:
''' the itertools modules is a great module to create it's own . the tools provided by iterables are last & Memory afficient.'''

" the itertools modules is a great module to create it's own . the tools provided by iterables are last & Memory afficient."

In [115]:
#itertools.count method
import itertools
for i in itertools.count(20):
    if i>50:
        break
    else:
        print(i)

20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [116]:
count=0
for i in itertools.cycle('xyz'):
    if count>7:
        break
    else:
        print(i)
        count=count+1

x
y
z
x
y
z
x
y

In [117]:
l=list(itertools.accumulate(['10','20','30']))

In [118]:
l

['10', '1020', '102030']

In [119]:
from itertools import compress

In [120]:
letters = 'ABCDEFFG'
bools = [True , False , True , True , False]
l=list(compress(letters , bools))
print(l)

['A', 'C', 'D']

In [121]:
# the above example shows that it compares the both expression and then find if one is true than it shows in the final result otherwise not

In [124]:
t=itertools.islice('abcdefgh',4)

In [125]:
next(t)

'a'